html{
    font-size: 100%;
    -webkit-locale: "en";
    display: block;
}

body{
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0;
    background-color: #eee
}

.content-card{
    border-radius: 0.1875rem;
    box-sizing: border-box;
    margin:  30px auto;
    padding: 1rem;
    width: calc(100vw - 30px);
    max-width: 62.5rem;
    background: #fff;
}

@media (min-width: 1020px) and (min-height: 600px){
    .content-card {
        width: calc(100vw - 3.5rem);
    }}

.content{
    background-color: #f5f5f5;
    padding: 10% 0;
    min-height: 100px;
    color: #424242;
    font-weight: 400;
    position: relative;
    background-color: #f5f5f5;
    padding: 10% 0;
    min-height: 100px;
    color: #424242;
    font-weight: 400;
    position: relative;
}

.card{
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #fff;
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    z-index: 1;
    overflow-wrap: break-word;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 70px;
}

.google-logo{
    margin-bottom: 20px
}

.title{
    font-size: 24px;
    display: block;
}

.user-email{
    font-size: 16px;
    display: block;
}

p{
    font-weight: 500;
    margin: 2em 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    color: rgba(0,0,0,.87);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14.4px;
    font-weight: 400;
}
.details-button.mat-raised-button {
    color: #448aff;
    padding: 0;
    margin: 0;
    min-width: 0;
    line-height: inherit;
}

.mat-button-focus-overlay {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    background: #000;
}    

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 40px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 1.5em;
    position: relative;
    padding-right: 18px;
    line-height: 24px;
}


li::before {
    content: "";
    display: block;
    position: absolute;
    left: -40px;
    top: 50%;
    margin-top: -8px;
    width: 20px;
    height: 15px;
    background-image: url(img/gmail-icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

span{
    vertical-align: middle;
}

ul li i {
    font-size: 24px;
    margin-left: 20px;
}

ul li span, ul li i {
    vertical-align: middle;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.permission-request {
    margin: 3.125rem 0 0.25rem;
}


.fine-print{
    color: #9e9e9e;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4em;
    margin-top: 0;
}

.a-fake{
    text-decoration: none;
    color: #448aff;
    cursor: pointer;
}

.status {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1rem;
    background-color: #555;
    color: #f0f0f0;
    text-align: left;
    font: initial;
    text-transform: none;
    font-weight: 200;
    font-size: .9rem;
    font-family: Roboto,Arial,sans-serif;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    padding: 0.25rem 0.5rem;
    letter-spacing: initial;
    box-sizing: border-box;
    min-width: 50%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}

.a-fake:hover > .status {
    display: block;
}

.button-container {
    text-align: right;
}


.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: rgba(0,0,0,.87);
    background-color: #fff;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14.4px;
    font-weight: 400;
}

.cancel-button, .ok-button {
    color: #1e88e5;
    font-weight: 500;
}


.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}

.mat-ripple {
    overflow: hidden;
    position: relative;
}

.mat-button-focus-overlay {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.mat-button-focus-overlay {
    background: #000;
}

.allow-button {
    background-color: #4285f4;
    color: #fff;
    font-weight: 500;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.background{
    position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
}

.background svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}