

html {
    display: block;
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    margin: 0;
    background-color: #eee;
    
}

.content-card{
    border-radius: 0.1875rem;
    box-sizing: border-box;
    margin:  30px auto;
    padding: 1rem;
    width: calc(100vw - 30px);
    max-width: 62.5rem;
    background-color: #fff;
}

@media (min-width: 600px) and (min-height: 600px){
    .content-card{
        width: calc(100vw - 3.5rem);
    }}

.email-header{
    display: block;
    margin-bottom: 1.25rem;
    font: 400 14px/20px 'Roboto', sans-serif;
    letter-spacing: normal
}

.header{
    min-height: 2.875rem;
    position: relative;
    white-space: nowrap;
}


.header-container{
    overflow: hidden;
}

.form-email-text{
    display: inline-block;
    padding-left: 0.75rem;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.circle-G{
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 1.625rem;
    font-weight: 300;
    height: 2.875rem;
    line-height: 2.875rem;
    text-align: center;
    width: 2.875rem;
    background-color: #fb8c00;
}

.name{
    color: #212121;
    font-weight: 500;
}

.email{
    margin-left: 0.25rem;
    font-size: .875rem;
    opacity: .4;
    display: none;
}

.to-me{
    clear: left;
    display: inline;
    font-size: .875rem;
    opacity: .4;}

.to-me::before{
    content: "";
    display: block;
} 

.email-dropdown-arrow{
    background: url(img/drop-down-icon.png) no-repeat -60px -100px;
    background-size: 180px auto;
    cursor: pointer;
    height: 12px;
    margin: 0 0 2px 0.125rem;
    padding: 0 0 1px 0;
    vertical-align: bottom;
    width: 12px;
    display: none;
}


.details-link{
    color: #448aff;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 300;
    margin-left: 0.3125rem;
    margin-top: 0.1875rem;
    display: inline;
}

@media (min-width: 600px) and (min-height: 600px){
    .details-link{
        display: none;
    }
    .email-dropdown-arrow{
        display: inline-block;
    }
    .email{
        display: inline;
    }
}

.time{
    float: right;
    font-size: .875rem;
    margin-top: 0.9375rem;
    opacity: .4;
}



.header-container::after{
    clear: both;
    content: "";
    display: table
}

.email-dropdown {
    text-align: left;
    font-size: .8125rem;
    line-height: 1.2em;
    color: #424242;
    display: none;
    margin-top: 0.9375rem;
    padding-bottom: 1.25rem;
}

.email-dropdown.show {
    display: block;
}


@media (min-width: 600px) and (min-height: 600px){
.email-dropdown {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-size: .875rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    text-align: left;
    margin-left: 55px;
    margin-top: 2px;
    max-width: 580px;
    padding: 20px;
    position: absolute;
    top: 100%;
    z-index: 1;
}
}

.info-item {
    letter-spacing: .01em;
    margin-bottom: 0.625rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.info-item .col-left {
    text-align: left;
    padding-right: 5px;
    box-sizing: border-box;
    opacity: .4;
    min-width: 58px;
    display: inline-block;
}


@media (min-width: 600px) and (min-height: 600px){
 .info-item .col-left {
    text-align: right;
    padding-right: 10px;
    min-width: 80px;
}
}

.desktop {
    display: none;
    margin: 0;
}

@media (min-width: 600px) and (min-height: 600px){
.desktop {
    display: inline;
}
}

@media (min-width: 600px) and (min-height: 600px){
.mobile {
    display: none;
    margin: 0;
}
}

.info-item::after {
    clear: both;
    content: "";
    display: table;
}


.info-item:last-child {
    margin-bottom: 0;
}

.info-item:last-child {
    margin-bottom: 0;
}

.header-tour-step {
    left: 3.5rem;
}

.email-tour-step {
    left: 3.5rem;
}

.content {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    min-height: 100px;
    color: #424242;
    font-weight: 400;
}

@media (min-width: 600px) and (min-height: 600px){
.content {
    padding: 0;
}}

.email-body {
    background-color: #f5f5f5;
    padding: 20px 30px 30px;
    line-height: 1.3em;
}

.flag {
    width: 80px;
    height: 84px;
    display: block;
    margin: 20px 0;
    background-image: url(img/attack-shield.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: -999px;
}

.email-headline {
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 400;
}

p {
    font-size: 14px;
    margin: 2em 0;
}

.button {
    clear: both;
    display: inline-block;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #448aff;
}


@media (min-width: 600px) and (min-height: 600px){
.button {
    font-size: 18px;
}
}


.status {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1rem;
    background-color: #555;
    color: #f0f0f0;
    text-align: left;
    font: initial;
    text-transform: none;
    font-weight: 200;
    font-size: .9rem;
    font-family: Roboto,Arial,sans-serif;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    padding: 0.25rem 0.5rem;
    letter-spacing: initial;
    box-sizing: border-box;
    min-width: 50%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}


.button:hover > .status {
    display: block;
}