html{
    -webkit-locale: "en";
    font-size: 100%;
    display: block;
}

body{
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0;
    background-color: #eee;
}

.card-content{
    border-radius: 0.1875rem;
    box-sizing: border-box;
    margin: 30px auto;
    padding: 1rem;
    width: calc(100vw - 30px);
    max-width: 62.5rem;
    background: #fff;
}

@media (min-width: 1020px) and (min-height: 600px){
    .content-card {
        width: calc(100vw - 3.5rem);
    }}

.email-header{
    display: block;
    margin-bottom: 1.25rem;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.header{
    min-height: 2.875rem;
    position: relative;
    white-space: nowrap;
}

.header-container{
    overflow: hidden;
}

.circle-orange{
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 1.625rem;
    font-weight: 300;
    height: 2.875rem;
    line-height: 2.875rem;
    text-align: center;
    width: 2.875rem;
    background-color: #4dd0e1;
}

.from-email-text{
    display: inline-block;
    padding-left: 0.75rem;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.name{
    color: #212121;
    font-weight: 500;
}

.email{
    margin-left: 0.25rem;
    font-size: .875rem;
    opacity: .4;
    display: none;
}

.to-me{
    clear: left;
    display: inline;
    font-size: .875rem;
    opacity: .4;
}

.to-me::before{
    content: "";
    display: block;
}

.email-dropdown-arrow{
    background: url(../exercise4/img/drop-down-icon.png) no-repeat -60px -100px;
    background-size: 180px auto;
    cursor: pointer;
    display: none;
    height: 12px;
    margin: 0 0 2px 0.125rem;
    padding: 0 0 1px 0;
    vertical-align: bottom;
    width: 12px;
}

.details-link{
    color: #448aff;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 300;
    margin-left: 0.3125rem;
    margin-top: 0.1875rem;
    display: inline;
}

@media (min-width: 600px) and (min-height: 600px){
    .details-link{
        display: none;
    }
    .email-dropdown-arrow{
        display: inline-block;
    }
    .email{
        display: inline;
    }
}

.time{
    float: right;
    font-size: .875rem;
    margin-top: 0.9375rem;
    opacity: .4;
}

.time::after{
    clear: both;
    content: "";
    display: table;
}

.tour-step{
    left: 3.5rem;
}

@media (max-width: 400px){
.tour-step {
    position: static;
}}




.content{
    background-color: #fff;
    min-height: 100px;
    color: #424242;
    font-weight: 400;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
}

.spam{
    background-color: #d32f2f;
    padding: 80px 30px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.email-body{
    background-color: #f5f5f5;
    padding: 20px 30px;
    line-height: 1.5em;
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
    margin: 2em 0;
}

p:first-child {
    margin-top: 0;
}


.info{
    padding-left: 25px;
    line-height: 1.4em;
}

span{
    font-size: 14px;
    opacity: .6;
    display: block;
}

 span:first-child {
    font-size: 16px;
    opacity: 1;
}

.button{
    clear: both;
    background-color: #2979ff;
    border: 1px solid #2962ff;
    border-radius: 2px;
    color: #fff !important;
    line-height: 29px;
    min-width: 54px;
    outline: 0px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    letter-spacing: .05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.status{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1rem;
    background-color: #555;
    color: #f0f0f0;
    text-align: left;
    font: initial;
    text-transform: none;
    font-weight: 200;
    font-size: .9rem;
    font-family: Roboto,Arial,sans-serif;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    padding: 0.25rem 0.5rem;
    letter-spacing: initial;
    box-sizing: border-box;
    min-width: 50%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}

.button:hover > .status{
    display: block;
}

